footer {
    padding: 59px 0px;
    width: 100%;
    background-color: $bcred;
}

// .content {}(_global.scss)

// Footer Navigation
.footer__nav {
    
}
.footer__list {
    display: flex;
    align-items: center;
}
.footer__list li {
    list-style: none;
    margin-right: 50px;
    @extend %style-kyiv;
    white-space: nowrap;
}
.footer__list li:first-child {
    margin-right: 220px;
}
.footer__list li:last-child {
    margin-left: 200px;
}
.footer__title {
    @include geom(24px, 30.19px, 500);
    white-space: nowrap;    
}
.footer__link {
    @extend %style-kyiv;
    text-decoration: none;
}
.top {
    @include geom(18px, 22.64px, 500);
    position: relative;
}
.top::after {
    content: '';
    background: url('img/footer__arrow.svg') no-repeat;
    width: 22.81px;
    height: 23.73px;
    position: absolute;
    top: -2px;
    right: -45px;
}

@media (max-width: 415px) {
    footer {
        padding: 23.5px 0;
    }
    .footer__title {
        @include geom(10px, 12.58px, 500)
    }
    .footer__list li:first-child {
        margin-right: 20px;
    }
    .footer__list li {
        margin-right: 10px;
    }
    .footer__list li:last-child{
        margin-left: 20px;
    }
    .footer__list li,
    .footer__link {
        @include kyiv(6px, 7.2px, 500)
    }
    .top {
        @include geom(8px, 10.06px, 500);

        &::after {
            top: -8px;
            right: -29px;
        }
    }
    
}
@media (max-width: 375px) {
    .footer__list li:first-child {
        margin-right: 10px;
    }
    .footer__list li:last-child{
        margin-left: 0px;
    }
}