header {
    width: 100%;
    background-color: $bcred;
    padding: 31px 0;
}
// .content {}(_global.scss)

// Header Navigation
.header__logo {
    display: none;
}
.header__burger {
    display: none;
}
.header__menu {
    // ....
}
.header__nav {
    display: flex;
    // justify-content: center;
    align-items: center;
    padding-left: 315px;
}
.header__list {
    display: flex; 
    position: relative;
    margin-right: 114px;
}
.header__list li {
    list-style: none;
    margin-right: 75px;
}
.header__link {
    text-decoration: none;
    @extend %style-kyiv;
}
.header__link.ru {
    white-space: nowrap;
}
.header__link__icon {
    position: relative;
    top: -6px;
}
// Page Language 
.header__lang {
    width: 126px;
    position: relative;
}
.header__lang__btn {
    cursor: pointer;    
    @include geom(18px, 22.64px, 500);
    padding-left: 13px;
}
.header__lang__btn::after {
    background: url('img/lang__arrow.svg') no-repeat;
    content: '';
    width: 28px;
    height: 9px;
    position: absolute;
    top: 7px;
    left: 64px;
}
.header__lang__dropdown {
    display: none;
    width: inherit;
    padding-bottom: 18px;
    background-color: $bcred;
    position: absolute;
    padding-top: 10px;
    padding-left: 13px;
    z-index: 1;
}
.header__lang__dropdown a {
    display: block;
    text-decoration: none;
    @include geom(18px, 22.64px, 500);
    margin-bottom: 10px;

    &:hover {
    background-color: #831f1f; 
    }
    &:last-child {
        margin-bottom: 0px;
    }
}
.header__lang:hover .header__lang__dropdown {
    display: block;
}


@media(max-width: 415px) {
    header {
        width: 100%;
        padding: 21px 0px; 
        position: fixed;
        top: 0;
        z-index: 99;
        vertical-align: middle;
    }
    .header__logo {
        display: block;
        position: relative;
        padding-bottom: 21px;
    }
    .header__logo img{
        width: 67px;
        height: 19px;
        position: absolute;
        z-index: 5;
    }
    .header__burger {
        display: block;
        width: 15.56px;
        height: 16px;

        position: absolute;
        top: 0;
        right: 0;
        z-index: 5;
    }
    .header__burger span {
        width: 100%;
        height: 2.22px;
        background-color: #fff;
        position: absolute;
        top: 7px;
        border-radius: 60px;
    }
    .header__burger::before {
        content: '';
        position: absolute;
        top: 0;
        right: 0;
        width: 7.11px;
        height: 2.2px;
        background-color: #fff;
        border-radius: 60px;
    }
    .header__burger::after {
        content: '';
        position: absolute;
        bottom: 0;
        right: 0;
        width: 12.44px;
        height: 2.22px;
        background-color: #fff;
        border-radius: 60px;
    }
    .header__burger.active span {
        transform: scale(0);
    }
    .header__burger.active::before {
        width: 100%;
        transform: rotate(45deg);
        top: 8px;
    }
    .header__burger.active::after {
        width: 100%;
        transform: rotate(-45deg);
        bottom: 6px;
    }
    .header__menu {
        position: fixed;
        top: -100%;
        left: 0;
        width: 100%;
        height: 100%;
        background-color: $bcred;
        overflow: auto;
        transition: all 0.3s ease 0s;

    }
    .header__menu.active {
        top: 0px;
    }
    .header__nav {
        display: block;
        padding: 100px 21px;
    }
    .header__list {
        display: block;
    }
    .header__list li {
        margin-bottom: 45px;
    }
    .header__list li:nth-child(3) {
        display: none
    }
    .header__link {
        @include kyiv(42px, 50.4px, 500);
        white-space: nowrap;
    }

    .header__lang {
        display: none;
    }
}


