main {
  width: 100%;
  background-color: $bcblack;  
  padding-top: 114px;
  padding-bottom: 179px;
  overflow-x: hidden;
}

// .content {} (_global.scss)
// Title 
.main__title {
    display: flex;
    position: relative;
}
.main__title__picturesOne {
  margin-right: 50px;
}
.main__title__picturesOne img{
  width: 430px;
  height: 280px;
}
.main__title__picturesOne  img:nth-child(1) {
  margin-bottom: 55px;
}
.main__title__picturesTwo img{
  width: 910px;
  height: 615px;
}
.main__title__banner{
  position: absolute;
  top: 164px;
  left: 268px;
  text-align: center;
  color: #fff;
}
.main__title__banner h3 {
  @include geom(36px, 45px, 700);
}
.main__title__banner h1 {
  font: 220px/243px 'Acworth';
  font-weight: 700;
}

// Portfolio
.portfolio__title {
  max-width: 150px;
  width: 100%;
  margin-left: auto;
  position: relative;
  top: 128px;
  left: -53px;
  h2 {
    text-align: right;
    @include geom(24px, 30.19px, 500);
  }
  h2::after {
    position: absolute;
    content: '';
    top: 50%;
    left: calc(100% + 20px);
    width: 100vw;
    height: 1px;
    background-color: #fff;
  }
}
.portfolio__title.ru {
  white-space: nowrap;
  left: -85px;

  h2::after {
    left: calc(100% + 60px)
  }
}
.portfolio__container {
  width: 100%;
  height: 100%;
  padding-top: 100px;
  display: flex;
  flex-wrap: wrap;
}
.portfolio__content {
  width: 670px;
  height: 395px;
  position: relative;
  margin-bottom: 54px;
}
.portfolio__content img{
  width: 670px;
  height: 395px;
}
.portfolio__content:nth-child(2) {
  margin-top: 50px;
}
.portfolio__content:nth-child(2n+3) {
  margin-top: -50px;
}
.portfolio__content:nth-child(odd) {
  margin-right: 50px;
}
.picture__title {
  display: none;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.5);
  padding: 177.5px 273.5px;
  position: absolute;
  z-index: 1;
  top: 0;
  left: 0; 
  text-align: center;
}
.picture__title h2 {
  color: #fff;
  font: 36px/39.71px 'Acworth';
  font-weight: 700;
}
.picture__title__icon {
  background: url('img/info.svg') no-repeat center;
  position: absolute;
  top: 25px;
  right: 26px;
  width: 30px;
  height: 30px;
  cursor: pointer;
}
.picture__desc {
  display: none;
  width: 100%;
  height: 100%;
  padding: 124.5px 86.5px;
  position: absolute;
  top: 0;
  left: 0;
  background-color: rgba(0, 0, 0, 0.5);
  color: #fff;
}
.picture__desc__icon {
  background: url('img/exit.svg') no-repeat center;
  position: absolute;
  top: 25px;
  right: 26px;
  width: 30px;
  height: 30px;
  cursor: pointer;
}
.picture__desc h2{
  @include geom(20px, 25.16px, 400);
  margin-bottom: 21px;
}
.picture__desc p {
  @include geom(20px, 25.16px, 700)
}
.portfolio__content:hover .picture__title {
  display: block;
}
.portfolio__content.info .picture__title {
  display: none;
} 
.portfolio__content.info .picture__desc {
  display: block;
}
.portfolio_pic__hidden {
  display: none;
}
.portfolio_pic__hidden.active {
  display: block;
}
.portfolio_pic__hidden__drop {
  display: flex;
  flex-wrap: wrap;
  margin-top: -50px;
  animation: slowDown 2s linear;
}
@keyframes slowDown {
  0% { 
    // margin-top: -100%; 
    opacity: 0;
  }
  50% { 
    // margin-top: -50%;
    opacity: 0.5;
    }
  100% { 
    // margin-top: 0%; 
    opacity: 1;
  }
}
.portfolio__btn {
  width: 225px;
  height: 65px;
  padding: 21px 64px;
  border: 2px solid #fff;
  cursor: pointer;
  @include geom(18px, 22.64px, 800);
  white-space: nowrap;
  margin: 0 auto;
}

// About me
.aboutme__title {
  margin-top: 125px;
  max-width: 120px;
  width: 100%;
  position: relative;
  h2{
    @include geom(24px, 30.19px, 500);
  }
  h2::after {
    position: absolute;
    content: '';
    top: 50%;
    right: calc(100% + 20px);
    width: 100vw;
    height: 1px;
    background-color: #fff;
  }
}
.aboutme__container {
  margin-top: 150px;
  padding-bottom: 98px;
  position: relative; 
}

.aboutme__text {
  width: 1150px;
  font: 80px/88.24px 'Acworth';
  font-weight: 700;
  color: #fff;  
  position: relative;
  z-index: 1;
}
.aboutme__text span {
  color: #B91616;
}
.aboutme__text::after {
  content: '';
  width: 100vw;
  height: 56px;
  background-color: #B91616;
  position: absolute;
  top: 15px;
  right: calc(100% + 20px);
}
.aboutme__picture {
  // text
}
.aboutme__picture img {
  width: 985px;
  height: 720px;
  position: absolute;
  z-index: 0;
  top: -92px;
  left: 670px;
}

// MEDIA 
@media (max-width: 415px) {
  main {
    padding-top: 108px;
    padding-bottom: 67px;
  }
  // Title
  .main__title__picturesOne {
    margin-right: 21px;
  }
  .main__title__picturesOne img{
    width: 108px;
    height: 284px;
    object-fit: cover
  }
  .main__title__picturesOne img:nth-child(1) {
    margin-bottom: 22px;
  }
  .main__title__picturesTwo {
    width: 243px;
    height: 590px;
    background: url('img/mobile_title.jpg') no-repeat top center / cover;
  }
  .main__title__picturesTwo img{
    display: none;
  }
  .main__title__banner {
    top: 253px;
    left: 27px;
  }
  .main__title__banner h3 {
    font: 18px/19.85px 'Acworth';
    font-weight: 700;
  }
  .main__title__banner h1 {
    font: 82px/90.45px 'Acworth';
    font-weight: 700;
  }
  // Portfolio
  .portfolio__title {
    top: 43px;
    left: -52px;

    h2 {
      @include geom(15px, 18.87px, 500)
    }
  }
  .portfolio__title.ru {
    left: -52px;
    h2::after {
      left: calc(100% + 20px);
    }
  }
  .portfolio__container {
    padding-top: 66px;
    display: block;
  }
  .portfolio__content {
    width: 372px;
    height: 219px;
}
.portfolio__content img {
    width: 372px;
    height: 219px;
}
.portfolio__content:nth-child(2),
.portfolio__content:nth-child(2n+3),
.portfolio__content:nth-child(odd)
{
    margin-right: 0px;
    margin-top: 0px;
}
.picture__title {
    width: 372px;
    height: 219px;
    padding: 97px 145px;
}
.picture__desc {
    padding: 65px 14px;
}
.portfolio_pic__hidden__drop {
    display: block;
    margin-top: 0;
}
.picture__title h2 {
  font: 24px/26.47px 'Acworth';
  font-weight: 700;
}
.picture__desc h2{
  @include geom(12px, 15.1px, 400)
}
.picture__desc p {
  @include geom(12px, 15.1px, 700)
}
.portfolio__btn {
  max-width: 190px;
  height: 55px;
  padding: 18.5px 57.5px;
  @include geom(14px, 17.61px, 800)
}
// About me
.aboutme__title {
  margin-top: 57px;
  margin-left: 53px;
  h2 {
    @include geom(15px, 18.87px, 500)
  }
}
.aboutme__container {
  position: relative;
  margin-top: 149px;
  padding-bottom: 112px;

}
.aboutme__text {
  width: 358px;
  font: 40px/44.12px 'Acworth';
  font-weight: 700;

  &::after {
      height: 28px;   
      top: 8px;
      right: calc(100% + 6px)
  }
}
.aboutme__picture {
  width: 302px;
  height: 630px;
  background: url('img/mobile__aboutme.jpg') no-repeat top center / cover;
  position: absolute;
  top: -121px;
  right: -15px;
}
.aboutme__picture img {
  display: none;
}

}

@media (max-width: 375px) {
  .main__title__banner {
    left: 12px;
  }
  .portfolio__container img{
    width: 335px;
  }
}